ul{
	list-style:none;	
}
#speedMove {
	margin-bottom: 30px;
}

.left-menu {
	padding-top: 20px;
}

.nav-item {
	font-size: 12px;
}

#contentTitle {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

#contentInfo>span {
	font-size: 13px;
}

#contentInfo>div>span::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #ccc;
	margin: 0 10px 0 6px;
	vertical-align: -2px;
}

#contentInfo>div>span:first-child::before {
	display: none;
}

#writerProfile>span>img {
	width: 40px;
	height: 40px;
}

#contentBody {
	margin: 15px;
	margin-bottom: 100px;
	overflow:hidden;
	word-wrap:break-word;
}

.recomend_box {
	width: 150px;
	height: auto;
	margin: 0 auto 36px;
	padding-top: 0;
	border-radius: 2px;
	background: #fff;
}

.recomend_box>div {
	display: inline-block;
	height: 40px;
}

.likeIcon {
	font-size: 35px;
	cursor: pointer;
}


/* 댓글창 css */
#commentDiv {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.date {
	font-size: 11px
}

.comment-text {
	font-size: 12px
}

.fs-12 {
	font-size: 12px
}

.shadow-none {
	box-shadow: none
}

.name {
	color: #007bff
}

.cursor:hover {
	color: blue
}

.cursor {
	cursor: pointer
}

#commentWrite textarea, .re-replyInput {
	resize: none
}

.fa {
	cursor: pointer
}

.reply-content {
	margin-left: 15px;
	font-size: 14px;
	vertical-align: middle;
	width: 60%;
}

.re-reply {
	font-size: 13px;
}

.re-reply-create{
	cursor:pointer;
}

.re-reply-create:hover{
	color:#9775fa;
}

.re-reply>span::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #ccc;
	margin: 0 10px 0 6px;
	vertical-align: -2px;
}

.re-reply>span:first-child::before {
	display: none;
}

.reply-container {
	border-bottom: 1px solid #b6b3b3 !important;
}

#replyPaging {
	margin-top : 20px;
}

/* 버튼 뭉치들 */
.btn-box {
	margin-top: 15px;
	margin-bottom: 15px;
}

#commentWrite {
	margin-top: 50px;
}

/* 신고 */
#reportBoard{
	cursor:pointer;
}

#reportBoard:hover{
	color:red;
}

.reply-report{
	cursor:pointer;
}

.reply-report:hover{
	color:red;
}

.warn{
	border-color:red !important;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

/* 쪽지 */
.userNickname{
	cursor:pointer;
}

.sendMessageToUser{
	cursor:pointer;
}

/* 좋아요 */
.likeClicked{
	color:#b197fc !important;
}