ul, li {
	margin: 0px;
	padding: 4px;
	list-style: none;
}

.left-menu {
	padding: 60px 20px;
}
h5 {
	text-align: center;
}

#popularity {
	margin : 20px 0px;
	padding-top: 10px;
	background-color: RGB(130,127,254,0.1);
	border-radius: 2px;
}
#popularity p {
	margin: 0px;
	text-align: center;
}

#select-wrap {
	margin: 20px 0px;
	padding: 20px 35px;
	background-color: RGB(130,127,254,0.1);
	border-radius: 2px;
}
#selectGu {
	border: 5px solid #E6E6E6 !important;
	height: auto;
}
.nav-item {
	font-size: 12px;
}

#contentTitle {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

#contentInfo>span {
	font-size: 13px;
}

#contentInfo>div>span::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #ccc;
	margin: 0 10px 0 6px;
	vertical-align: -2px;
}

#contentInfo>div>span:first-child::before {
	display: none;
}

#writerProfile>span>img {
	width: 40px;
	height: 40px;
}

#contentBody {
	margin: 15px;
	margin-bottom: 100px;
	overflow:hidden;
	word-wrap:break-word;
}

.recomend_box {
	width: 150px;
	height: auto;
	margin: 0 auto 36px;
	padding-top: 0;
	border-radius: 2px;
	background: #fff;
}

.recomend_box>div {
	display: inline-block;
	height: 40px;
}

.likeIcon {
	font-size: 35px;
	cursor: pointer;
}

/* 댓글창 css */
#commentDiv {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.date {
	font-size: 11px
}

.comment-text {
	font-size: 12px
}

.fs-12 {
	font-size: 12px
}

.shadow-none {
	box-shadow: none
}

.name {
	color: #007bff
}

.cursor:hover {
	color: blue
}

.cursor {
	cursor: pointer
}

#commentWrite textarea {
	resize: none
}

.fa {
	cursor: pointer
}

.reply-content {
	margin-left: 15px;
	font-size: 14px;
	vertical-align: middle;
	width: 60%;
}

.re-reply {
	font-size: 13px;
}

.re-reply>span::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #ccc;
	margin: 0 10px 0 6px;
	vertical-align: -2px;
}

.re-reply>span:first-child::before {
	display: none;
}

.reply-container {
	border-bottom: 1px solid #b6b3b3 !important;
}

#replyPaging {
	margin-top : 20px;
}

/* 버튼 뭉치들 */
.btn-box {
	margin-top: 15px;
	margin-bottom: 15px;
}

#commentWrite {
	margin-top: 50px;
}

/* 신고 */
#reportBoard{
	cursor:pointer;
}

#reportBoard:hover{
	color:red;
}

/* 쪽지 */
.userNickname{
	cursor:pointer;
}

.sendMessageToUser{
	cursor:pointer;
}

/* 좋아요 */
.likeClicked{
	color:#ae3ec9 !important;
}